<p>
  <strong>Topic:</strong>
  <%= @argument.topic %>
</p>
<p>
  <strong>With who:</strong>
  <%= @argument.with_who %>
</p>
<p>
  <strong>Outcome:</strong>
  <%= @argument.outcome %>
</p>


<p>
  <%= link_to 'Back', arguments_path %>
</p>
